<div class="container ">

  <nav class=" navbar-default navbar">
    <div class="container-fluid">
      <div class="pull-right dropdown " style="padding-top: 27px" appDropdown>
        <button class=" btn-block btn">Manage <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" (click)="onClear()">Clear all tasks</a></li>
          <li><a href="#" (click)="onSelectedClear()">Clear selected tasks</a></li>
        </ul>
      </div>
      <div class="navbar-header">
        <div class="row">
          <div class="col-lg-3" style="padding-top: 15px; margin-bottom:20px">
            <a class="navbar-brand" href="#">
              <img style=": 200px" alt="Brand"
                   src="https://www.pngitem.com/pimgs/m/245-2456104_png-transparent-icon-todo-list-png-download.png"
                   style="max-height: 30px">
            </a>
          </div>
          <div class="col-lg-5" style="margin-top:3px">
            <h1 style="font-family: 'Exo 2', sans-serif;">ToDo</h1>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
